# Reading Text Files

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
philosophers = pd.read_csv('philosophies.csv')

In [3]:
philosophers

,Western philosophy,Indian philosophy,East Asian philosophy,Middle Eastern philosophy
0,Plato,Buddha,Laozi,Mani
1,Nietzsche,Nagarjuna,Confucius,Avicenna
2,Wittgenstein,Krishnamurti,Zhuangzi,Averroes

# JSON

In [4]:
# Example of what a JSON (JavaScript Object Notation) looks like:
js = """
{   "Branch": ["Metaphysics","Aesthetics","Ethics","Logic"],
    "Philosophers": ["Metaphysicians","Aestheticians","Ethicists","Logicians"],
    "Example": ["David Lewis","Immanuel Kant","Aristotle","William of Ockham"],
    "School": ["Analytic","Continental","Peripatetic","Scholasticism"]
}
"""

In [5]:
import json

In [6]:
data = json.loads(js)

In [7]:
data

{'Branch': ['Metaphysics', 'Aesthetics', 'Ethics', 'Logic'],
 'Philosophers': ['Metaphysicians', 'Aestheticians', 'Ethicists', 'Logicians'],
 'Example': ['David Lewis', 'Immanuel Kant', 'Aristotle', 'William of Ockham'],
 'School': ['Analytic', 'Continental', 'Peripatetic', 'Scholasticism']}

In [8]:
#Convert back to JSON
json.dumps(data)

'{"Branch": ["Metaphysics", "Aesthetics", "Ethics", "Logic"], "Philosophers": ["Metaphysicians", "Aestheticians", "Ethicists", "Logicians"], "Example": ["David Lewis", "Immanuel Kant", "Aristotle", "William of Ockham"], "School": ["Analytic", "Continental", "Peripatetic", "Scholasticism"]}'

In [9]:
dframe = DataFrame(data)

In [10]:
dframe

        Branch    Philosophers            Example         School
0  Metaphysics  Metaphysicians        David Lewis       Analytic
1   Aesthetics   Aestheticians      Immanuel Kant    Continental
2       Ethics       Ethicists          Aristotle    Peripatetic
3        Logic       Logicians  William of Ockham  Scholasticism