In [1]:
import pandas as pd

In [60]:
#Öffentlich zugängliche Daten aus der Studie von Awad et al. (2019) als .csv Datei importieren
df = pd.read_csv(r'C:\Users\danie\Documents\GitHub\philhistcomp\projects\trolley_cases\assets\Shared_data_responses_demographics.csv')
print(df)

In [69]:
#Zur Besseren Nachvollziehbarkeit werden die Antworten der Teilnehmer von '1' und '0' in 'Yes' und 'No' umbenannt
df.loc[df['Outcome'] == 1, 'Outcome'] = 'Yes'
df.loc[df['Outcome'] == 0, 'Outcome'] = 'No'
print(df)

      UserIP_Anonymized    Scenario  survey.age survey.gender  \
0              0002ae2d  Footbridge          19         Women
1              0002ae2d        Loop          19         Women
2              0002ae2d      Switch          19         Women
3              00065336  Footbridge          19           Men
4              00065336        Loop          19           Men
...                 ...         ...         ...           ...
59154          ffef6123  Footbridge          27           Men
59155          ffef6123        Loop          23           Men
59156          ffef6123        Loop          27           Men
59157          ffef6123      Switch          23           Men
59158          ffef6123      Switch          27           Men

      survey.education  survey.political  survey.religious country_code  \
0              College              0.56              0.00           GB
1              College              0.56              0.00           GB
2              College              0.56              0.00           GB
3              College              0.00              0.68           FR
4              College              0.00              0.68           FR
...                ...               ...               ...          ...
59154          College              0.34              0.53           SG
59155          College              1.00              0.00           SG
59156          College              0.34              0.53           SG
59157          College              1.00              0.00           SG
59158          College              0.34              0.53           SG

      Outcome Continent
0          No    Europe
1         Yes    Europe
2         Yes    Europe
3         Yes    Europe
4          No    Europe
...       ...       ...
59154      No      Asia
59155     Yes      Asia
59156     Yes      Asia
59157     Yes      Asia
59158     Yes      Asia

[59159 rows x 10 columns]

In [74]:
#Hier ein Überblick aller deutscher, männlicher bzw. weiblicher Teilnehmer
df.loc[(df['Scenario'] == 'Switch') & (df['survey.gender'] == 'Men') & (df['country_code'] == 'DE')]

,UserIP_Anonymized,Scenario,survey.age,survey.gender,survey.education,survey.political,survey.religious,country_code,Outcome,Continent
33,002e50e6,Switch,20,Men,College,0.51,0.15,DE,Yes,Europe
96,007400f6,Switch,25,Men,No College,0.70,0.00,DE,Yes,Europe
105,008100be,Switch,19,Men,No College,0.52,0.00,DE,Yes,Europe
114,0088b44e,Switch,20,Men,No College,0.98,0.00,DE,Yes,Europe
120,00938c94,Switch,51,Men,College,0.70,0.56,DE,Yes,Europe
...,...,...,...,...,...,...,...,...,...,...
58718,fdfbce88,Switch,24,Men,No College,1.00,1.00,DE,Yes,Europe
58784,fe3c906a,Switch,31,Men,College,0.32,0.00,DE,Yes,Europe
58887,fec4a78d,Switch,19,Men,No College,0.86,0.18,DE,Yes,Europe
58929,fef8a291,Switch,34,Men,College,0.27,0.02,DE,No,Europe
59002,ff3f1f63,Switch,26,Men,College,0.44,0.07,DE,Yes,Europe

In [73]:
df.loc[(df['Scenario'] == 'Switch') & (df['survey.gender'] == 'Women') & (df['country_code'] == 'DE')]

,UserIP_Anonymized,Scenario,survey.age,survey.gender,survey.education,survey.political,survey.religious,country_code,Outcome,Continent
276,01248b63,Switch,22,Women,College,0.74,0.00,DE,Yes,Europe
332,015eb2a2,Switch,32,Women,College,0.83,0.67,DE,Yes,Europe
356,0177165a,Switch,42,Women,College,0.79,0.19,DE,Yes,Europe
605,02a1e745,Switch,53,Women,No College,0.27,0.99,DE,Yes,Europe
744,0341555f,Switch,57,Women,College,0.71,0.58,DE,Yes,Europe
...,...,...,...,...,...,...,...,...,...,...
58612,fd93a6ca,Switch,18,Women,No College,0.65,0.00,DE,Yes,Europe
58681,fdd6a2fd,Switch,35,Women,College,0.86,0.00,DE,No,Europe
58760,fe2312f5,Switch,29,Women,College,0.50,0.00,DE,Yes,Europe
58841,fe96c65f,Switch,21,Women,No College,1.00,0.15,DE,Yes,Europe
59097,ffa8b061,Switch,18,Women,No College,1.00,0.00,DE,Yes,Europe

In [70]:
#Es werden nur Daten angezeigt, die das 'Switch' Szenario betreffen und von männlichen, deutschen Teilnehmern stammen, die im Gedankenexperiment den Hebel
#betätigen würden
df.loc[(df['Scenario'] == 'Switch') & (df['survey.gender'] == 'Men') & (df['country_code'] == 'DE') & (df['Outcome'] == 'Yes')]

,UserIP_Anonymized,Scenario,survey.age,survey.gender,survey.education,survey.political,survey.religious,country_code,Outcome,Continent
33,002e50e6,Switch,20,Men,College,0.51,0.15,DE,Yes,Europe
96,007400f6,Switch,25,Men,No College,0.70,0.00,DE,Yes,Europe
105,008100be,Switch,19,Men,No College,0.52,0.00,DE,Yes,Europe
114,0088b44e,Switch,20,Men,No College,0.98,0.00,DE,Yes,Europe
120,00938c94,Switch,51,Men,College,0.70,0.56,DE,Yes,Europe
...,...,...,...,...,...,...,...,...,...,...
58490,fd27e08e,Switch,31,Men,College,1.00,0.00,DE,Yes,Europe
58718,fdfbce88,Switch,24,Men,No College,1.00,1.00,DE,Yes,Europe
58784,fe3c906a,Switch,31,Men,College,0.32,0.00,DE,Yes,Europe
58887,fec4a78d,Switch,19,Men,No College,0.86,0.18,DE,Yes,Europe
59002,ff3f1f63,Switch,26,Men,College,0.44,0.07,DE,Yes,Europe

In [68]:
#Es werden nur Daten angezeigt, die das 'Switch' Szenario betreffen und von weiblichen, deutschen Teilnehmern stammen, die im Gedankenexperiment den Hebel
#betätigen würden
df.loc[(df['Scenario'] == 'Switch') & (df['survey.gender'] == 'Women') & (df['country_code'] == 'DE') & (df['Outcome'] == 'Yes')]

,UserIP_Anonymized,Scenario,survey.age,survey.gender,survey.education,survey.political,survey.religious,country_code,Outcome,Continent
276,01248b63,Switch,22,Women,College,0.74,0.00,DE,Yes,Europe
332,015eb2a2,Switch,32,Women,College,0.83,0.67,DE,Yes,Europe
356,0177165a,Switch,42,Women,College,0.79,0.19,DE,Yes,Europe
605,02a1e745,Switch,53,Women,No College,0.27,0.99,DE,Yes,Europe
744,0341555f,Switch,57,Women,College,0.71,0.58,DE,Yes,Europe
...,...,...,...,...,...,...,...,...,...,...
58549,fd4c1751,Switch,19,Women,College,0.77,0.53,DE,Yes,Europe
58612,fd93a6ca,Switch,18,Women,No College,0.65,0.00,DE,Yes,Europe
58760,fe2312f5,Switch,29,Women,College,0.50,0.00,DE,Yes,Europe
58841,fe96c65f,Switch,21,Women,No College,1.00,0.15,DE,Yes,Europe
59097,ffa8b061,Switch,18,Women,No College,1.00,0.00,DE,Yes,Europe